# Jade
snippet doctype
doctype
html(lang="fr")
  head
    meta(charset="utf-8")
    title Title of the page
  body$0
endsnippet

snippet link
link(rel="stylesheet", href="/css/${1:style}.css")
endsnippet

snippet script
script(src="/js/${1:main}.js")
endsnippet

snippet a
a(href="${1}", title="${2}")
endsnippet

snippet form
form(method="${1:post}")
endsnippet

# Angular
snippet controller
ng-controller="${1:name}Ctrl"
endsnippet

snippet model
ng-model="${1}"
endsnippet
