snippet for
	{% for ${1:item} in $1s %}
	{% endfor %}
snippet if
	{% if ${1} %}
	{% endif %}
snippet ext
	{% extends "./${1}" %}
snippet block
	{% block ${1} %}
	{% endblock %}
snippet parent
	{{ parent() }}
