snippet compass
	# Import
	#require 'zurb-foundation'
	#require 'susy'
	# Configuration
	http_path        = "/"
	css_dir          = "css/"
	sass_dir         = "sass/"
	images_dir       = "img/"
	javascripts      = "js/"
	fonts_dir        = "fonts/"
	preferred_syntax = :sass
	relative_assets  = true
	output_style     = :compressed
