snippet for
{% for ${1:item} in $1s %}
{% endfor %}
endsnippet

snippet if
{% if ${1} %}
{% endif %}
endsnippet

snippet ext
{% extends "./${1}" %}
endsnippet

snippet block
{% block ${1} %}
{% endblock %}
endsnippet

snippet parent
{{ parent() }}
endsnippet
