snippet node
{
  "name": "${1}",
  "version": "0.0.1",
  "private": true,
  "scripts": {
  },
  "dependencies": {
  }
}
endsnippet

snippet nw
{
  "name": "${1}",
  "window": {
    "width": 800,
    "height": 600,
    "toolbar": false,
    "frame": true
  },
  "scripts": {
    "start": "nw"
  },
  "dependencies": {
  },
  "devDependencies": {
    "nw": "^0.12.3"
  },
  "main": "index.html"
}
endsnippet
