snippet func "expand function" i
function($1) {$0
}
endsnippet

snippet cons "expand function" i
console.log('=====================');
console.log($1);
console.log('=====================');
endsnippet
